body {
  font-family: 'Oswald', sans-serif;
  --bord-radius: 5px;
}

#container {
  width: 620px;
  background-color: aliceblue;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

h1 {
  background-color: cadetblue;
  text-align: center;
  color: white;
  padding: 5px;
}

ul {
  list-style-type: square;
  margin: 20px 0 20px 0;
}

.inputs {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
}

input[type=text] {
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
  font-size: 15px;
  outline: none;
  border-radius: var(--bord-radius);
}

button {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  border-radius: var(--bord-radius);
}

.delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.edit {
  cursor: pointer;
  color: rgb(4, 0, 255);
  font-weight: bold;
}

.editButton {
  background-color: #ff9090;
}

.addButton {
  background-color: #9cff93;
}

button:disabled {
  background-color: gray;
}